<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Intertar Recoleccion</title>
<link rel="shortcut icon" href="https://i.imgur.com/OhRWUP3.png">
<link rel="stylesheet" type="text/css" href="../static/css/insertar.css" th:href="@{/css/insertar.css}" />
</head>

<style>
	form{
		height: 95%;
	}
</style>
<body>
	
	<h2>Insertar Recolección</h2>
	
	<form method="post" th:action="@{/recolecciones/insertar}" th:object="${recoleccion}">
		<p>Temporada: <input type="text" th:field="*{temporada}" required>
		
		<p>Cantidad: <input type="number" th:field="*{cantidad}" required>
		
		<p>Fecha: <input type="date" th:field="*{fecharecoleccion}" required>
		
		<p>Variedad: <select th:field="*{variedad}" required>
		<option th:each="variedad: ${variedades}" th:value="${variedad.idvariedad}" th:text="${variedad.nombre}"></option>
		</select>
		
		<p>Finca: <select th:field="*{finca}" required>
		<option th:each="finca: ${fincas}" th:value="${finca.idfinca}" th:text="${finca.denominacion}"></option>
		</select>
		
		<p><input type="submit" value="Insertar">
		<p><a th:href="@{/recolecciones/mostrarrecolecciones}">Volver</a> 	
		
    </form>

</body>
</html>