<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Modificar Recoleccion</title>
<link rel="shortcut icon" href="https://i.imgur.com/OhRWUP3.png">
<link rel="stylesheet" type="text/css" href="../static/css/insertar.css" th:href="@{/css/insertar.css}" />
</head>
<body>
	
<h2>Modificar Recolección</h2>
	<form method="post" th:action="@{/recolecciones/insertar}" th:object="${recoleccion}">
		
		<input type="hidden" name="idrecoleccion" th:value="${recoleccion.idrecoleccion}">
		
		<p>Temporada: <input type="number" th:field="*{temporada}" th:value="recoleccion.temporada" required >
		
		
		<p>Cantidad: <input type="number" th:field="*{cantidad}" th:value="recoleccion.cantidad" required>
		
		<p>Fecha: <input type="date" th:field="*{fecharecoleccion}" th:value="recoleccion.fecharecoleccion" required>
		
		<p>Variedad: <select th:field="*{variedad}" required>
		<option th:each="variedad: ${variedades}" th:value="${variedad.idvariedad}" th:text="${variedad.nombre}"></option>
		</select>
		
		<p>Finca: <select th:field="*{finca}" required>
		<option th:each="finca: ${fincas}" th:value="${finca.idfinca}" th:text="${finca.denominacion}"></option>
		</select>
		
		<p><input type="submit" value="Modificar" ></p>
		<p><a th:href="@{/recolecciones/mostrarrecolecciones}">Volver</a>

	</form>

</body>
</html>