<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de Recolecciones</title>
<link rel="shortcut icon" href="https://i.imgur.com/OhRWUP3.png">
<link rel="stylesheet" type="text/css" href="../static/css/mostrar.css" th:href="@{/css/mostrar.css}" />
</head>
<body>
	
<header>
	<img src="https://i.imgur.com/gOc2RRw.png" alt="Logotipo Paraiso Manzana">
	<a class="opcion" th:href="@{/fincas/mostrarfincas}">Fincas</a>
	<a class="opcion" th:href="@{/variedades/mostrarvariedades}">Variedades</a>
	<a class="opcion" th:href="@{/recolecciones/mostrarrecolecciones}">Recolecciones</a>
	<a class="opcion" th:href="@{/tratamientos/mostrartratamientos}">Tratamientos</a>
</header>

	<div class="titulo">
		<h1>Listado de Recolecciones</h1>
	</div>
	
	<div class="tabla">
		<table>
		<tr>
			<th>Temporada</th>
			<th>Cantidad</th>
			<th>Fecha Recoleccion</th>
			<th>Variedad</th>
			<th>Finca</th>
			
		</tr>
		<tr th:each="recoleccion: ${recolecciones}">
			<td th:text="${recoleccion.temporada}" />
			<td th:text="${recoleccion.cantidad}" />
			<td th:text="${recoleccion.fecharecoleccion}" />
			<td th:text="${recoleccion.variedad.nombre}" />
			<td th:text="${recoleccion.finca.denominacion}" />
			<td><a class="eliminar" th:href="@{/recolecciones/eliminar?(idrecoleccion=${recoleccion.idrecoleccion})}">Eliminar</a></td>
			<td><a class="modificar" th:href="@{/recolecciones/formmodificar?(idrecoleccion=${recoleccion.idrecoleccion})}">Modificar</a></td>
		</table>
		
	</div>
	
		<a class="insertar" th:href="@{/recolecciones/forminsertar}">Insertar recoleccion</a>
		<p><a th:href="@{/home}">Volver</a>

</body>
</html>