<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insertar Finca</title>
<link rel="shortcut icon" href="https://i.imgur.com/OhRWUP3.png">
<link rel="stylesheet" type="text/css" href="../static/css/insertar.css" th:href="@{/css/insertar.css}" />
</head>

<body>
	
	<h2>Insertar Finca</h2>
	
	<form method="post" th:action="@{/fincas/insertar}" th:object="${finca}" required>
		<p>Denominación: <input type="text" th:field="*{denominacion}" required>
		<p>Direccion: <input type="text" th:field="*{direccion}" required>
		<p>Refencia: <input type="text" th:field="*{referenciacatastral}" required>
		<p>Superficie: <input type="text" th:field="*{superficie}" required>
		<p>Localización: <input type="text" th:field="*{localizacion}" required>
		<p><input class="insertar" type="submit" value="Insertar">
		<p><a th:href="@{/fincas/mostrarfincas}">Volver</a> 
	</form>
	
</body>
</html>