<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="ISO-8859-1">
<link rel="shortcut icon" href="https://i.imgur.com/OhRWUP3.png">
<title>Listado de Fincas</title>
<link rel="stylesheet" type="text/css" href="../static/css/mostrar.css" th:href="@{/css/mostrar.css}" />
</head>

<body>
	
	<header>
		<img src="https://i.imgur.com/gOc2RRw.png" alt="Logotipo Paraiso Manzana">
		<a class="opcion" th:href="@{/fincas/mostrarfincas}">Fincas</a>
		<a class="opcion" th:href="@{/variedades/mostrarvariedades}">Variedades</a>
		<a class="opcion" th:href="@{/recolecciones/mostrarrecolecciones}">Recolecciones</a>
		<a class="opcion" th:href="@{/tratamientos/mostrartratamientos}">Tratamientos</a>
	</header>
		
	<div class="titulo">
		<h1>Listado de Fincas</h1>
	</div>
	
	<div class="tabla">
		<table>
			<tr>
				<th>Denominación</th>
				<th>Dirección</th>
				<th>Referencia</th>
				<th>Superficie</th>
				<th>Localización</th>
		
			</tr>
			
			<tr th:each="finca: ${fincas}">
				<td th:text="${finca.denominacion}" />
				<td th:text="${finca.direccion}" />
				<td th:text="${finca.referenciacatastral}" />
				<td th:text="${finca.superficie}" />
				<td th:text="${finca.localizacion}" />
				<td><a class="eliminar" th:href="@{/fincas/eliminar?(idfinca=${finca.idfinca})}">Eliminar</a></td>
				<td><a class="modificar" th:href="@{/fincas/formmodificar?(idfinca=${finca.idfinca})}">Modificar</a></td>
				<td><a th:href="@{/fincas/arbolesfinca?(idfinca=${finca.idfinca})}">Árboles</a></td>
				<td><a th:href="@{/fincas/fincaplano?(idfinca=${finca.idfinca})}">Plano</a></td>			
		</table>
	</div>
	
<a class="insertar" th:href="@{/fincas/forminsertar}">Insertar finca</a>
<p><a th:href="@{/home}">Volver</a>

</body>
</html>