<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de Variedades</title>
<link rel="shortcut icon" href="https://i.imgur.com/OhRWUP3.png">
<link rel="stylesheet" type="text/css" href="../static/css/mostrar.css" th:href="@{/css/mostrar.css}" />
</head>

<style>
	.tabla{
		width: 40%;
	}
</style>
<body>
	
	
<header>
	<img src="https://i.imgur.com/gOc2RRw.png" alt="Logotipo Paraiso Manzana">
	<a class="opcion" th:href="@{/fincas/mostrarfincas}">Fincas</a>
	<a class="opcion" th:href="@{/variedades/mostrarvariedades}">Variedades</a>
	<a class="opcion" th:href="@{/recolecciones/mostrarrecolecciones}">Recolecciones</a>
	<a class="opcion" th:href="@{/tratamientos/mostrartratamientos}">Tratamientos</a>
</header>

	<div class="titulo">
		<h1>Listado de Variedades</h1>
	</div>
	
	<div class="tabla">
		<table>
			<tr>
				<th>Nombre</th>
			</tr>
			<tr th:each="variedad: ${variedades}">
				<td th:text="${variedad.nombre}" />
			
				<td><a class="eliminar" th:href="@{/variedades/eliminar?(idvariedad=${variedad.idvariedad})}">Eliminar</a></td>
				<td><a class="modificar" th:href="@{/variedades/formmodificar?(idvariedad=${variedad.idvariedad})}">Modificar</a></td>
		</table>
	</div>
	
<a class="insertar" th:href="@{/variedades/forminsertar}">Insertar variedad</a>
<p><a th:href="@{/home}">Volver</a>
</body>

</body>
</html>